{{!-- <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Special+Elite" rel="stylesheet">
    <link rel="icon" href="images/page.png">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper navbar">
            <a href="#!" class="brand-logo">News Scraper</a>
            <ul class="right hide-on-med-and-down">
            <li><a href=""><i class="material-icons left">home</i>Home</a></li>
            <li><a href=""><i class="material-icons left">person</i>Your Articles</a></li>
            </ul>
        </div>
    </nav>

    <main>
      <div class="container">
        {{{ body }}}
      </div>
    </main>

</body>
</html> --}}